/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital@0;1&display=swap");
body {
  margin: 0;
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  text-align: center;
}
/* HEADER */
header {
  width: 100%;
  height: 150px;
  margin-inline: auto;
  background-color: black;
}
header > .logo {
  margin-inline: auto;
  margin-top: 45px;
  width: 170px;
}
/* INTESTAZIONE */
h1 {
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  line-height: 1.5;
  font-size: 2rem;
}
.intestazione {
  height: 400px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Introduzione {
  padding-top: 40px;
  width: 350px;
  margin-inline: auto;
}
.Introduzione > p {
  padding-top: 10px;
}
.Introduzione > .bottone > button {
  border: 0;
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: #f04c2f;
  color: white;
  text-transform: uppercase;
  border-radius: 6px;
}

/* MAIN */
main {
  padding-top: 30px;
  width: 350px;
  margin-inline: auto;
}
main * {
  padding-top: 15px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  color: #25a2c3;
  line-height: 1.5;
  font-size: 1.3rem;
}
main > img {
  width: 100%;
  border-radius: 50%;
}

/* teestimonianze */
.testimonianze {
  margin-top: 50px;
  background-color: #e22d0e;
  height: 325px;
  color: white;
}
.testimonianze * {
  padding-top: 30px;
}
.testimonianze > h1 {
  color: white;
  padding-top: 60px;
}
.testimonianze > p {
  font-style: italic;
}
.ceo > p {
  padding: 0;
}
.ceo > .job {
  font-size: 0.9rem;
}

/* ASIDE */
aside {
  padding-top: 25px;
  margin-bottom: 60px;
  width: 350px;
  margin-inline: auto;
}
aside > .card {
  border: 2px solid #dee1e3;
  margin-top: 30px;
  height: 360px;
}
aside > .card > img {
  width: 100%;
}
aside > .card > .card-content {
  width: 300px;
  margin-inline: auto;
}
aside > .card > .card-content > h2 {
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 12px;
}
aside > .card > .card-content > p {
  font-size: 1rem;
}
/* FOOTER */
footer {
  padding-top: 50px;
  height: 300px;
  background-color: #25a2c3;
  text-align: center;
  color: #c8e7f0;
}
footer > h1{
  color: white;
  margin-bottom: 20px;
}
footer > .info{
  margin-inline: auto;
  margin-bottom: 30px;
  text-align: center;
  width: 300px;
  border-bottom: 2px solid #c8e7f0;
}
footer > .info > .via{
  margin-bottom: 30px;
}
footer > .info > p >a{
  color: #c8e7f0;
}
footer > .copy >a{
  color: #c8e7f0;
}
footer > .copy{
  font-size: 0.9rem;
}